.listing-review-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.listing-review-header {
  display: flex;
  font-size: 20px;
  align-items: center;
}

#listing-num-reviews span {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.listing-review-header svg {
  width: 18px;
  height: 18px;
}

.listing-average-ratings,
.listing-review-cards {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
}

.rating-field-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 36px;
  margin-right: 30px;
}

.rating-field-left {
  width: 40%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  margin-right: 10px;
  text-overflow: ellipsis;
}

.rating-field-right {
  width: 60%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  height: 100%;
}

.rating-bar.outter {
  position: relative;
  width: 75%;
  background-color: rgb(221, 221, 221);
  box-sizing: border-box;
}

.rating-bar.inner {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgb(0, 0, 0);
  height: 100%;
  z-index: 1;
}

.rating-bar.outter,
.rating-bar.inner {
  content: "";
  border-radius: 2px;
  line-height: 4px;
  height: 4px;
}
.rating-field-average {
  margin-left: 8px;
  box-sizing: border-box;
  width: 25%;
  text-align: right;
}

.listing-review-cards {
  margin-top: 20px;
  row-gap: 25px;
}

.review-card-item {
  position: relative;
  box-sizing: border-box;
  margin-right: 30px;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 10px;
  padding-bottom: 15px;
}

.review-user-field {
  display: grid;
  grid-template-columns: 10% 88%;
  column-gap: 2%;
}

.review-user-right {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.review-user-name {
  font-family: Cereal-bd;
}
.review-user-rating {
  color: gray;
  font-size: 14px;
}

.review-body-field {
  max-height: 150px;
}

