.listing-list-item {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
  cursor: pointer;
}

.listing-list-item:hover {
    border-radius: 20px;
    box-shadow: 0px 0px 10px lightgray;
    scale: 1.1;
}

.listing-item-pic {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}
.listing-item-city{
  font-weight: bold;
}

.listing-item-city, .listing-item-price {
  padding: 5px;
  padding-bottom: 0px;
}

.listing-item-price span {
    font-weight: bold;
}
