.listing-list-container {
    margin-top: 20px;
    display: flex;
}

.listing-index-list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    
}