.listing-list-container {
    margin-top: 20px;
    display: flex;
    padding-bottom: 110px;
}

.listing-index-list {
    padding: 0 4% 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px; 
    justify-content: center;
}