.listing-list-item {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  align-content: center;
  width: 310px;
  margin-right: auto;
}

.listing-list-item:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(213, 213, 213, 0.7);
  scale: 1.01;
}

.listing-item-city {
  font-weight: bold;
}

.listing-item-headline,
.listing-item-title,
.listing-item-price {
  width: 100%;
  padding: 5px;
  padding-bottom: 0px;
  font-size: 15px;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

.listing-item-title {
  color: gray;
  text-overflow: ellipsis;
}

.listing-item-price span {
  font-weight: bold;
}

.image-container {
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x proximity;
  width: 300px;
  height: 310px;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.listing-list-item:hover .image-container {
  overflow-x: scroll;
  box-sizing: border-box;
}
.listing-item-pic {
  box-sizing: border-box;
  width: 100%;
  min-width: 300px;
  /* height: 280px; */
  height: 300px;
  /* min-height: 280px; */
  border-radius: 20px;
  object-fit: cover;
  scroll-snap-align: center;
}

.image-container::-webkit-scrollbar {
  height: 8px;
}

.image-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.image-container::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 5px;
}

.image-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.listing-item-headline {
  display: flex;
  justify-content: space-between;
}

.listing-item-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-star svg {
  width: 12px;
  height: 12px;
  align-items: baseline;
}
.listing-item-rating {
  margin-left: 4px;
}
