.nav-bar {
  box-sizing: border-box;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  z-index: 2;
}

.logo {
  cursor: pointer;
  height: 60px;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  transition: 0.3s;
}
.logo:hover{
  scale: 1.01;
  box-shadow: 0px 2px 6px #e61e4d;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-links {
  width: 20%;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
}

.personal-links {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  width: 80px;
  display: flex;
  /* justify-content: space-evenly; */
}

.dropdown-content {
  box-sizing: border-box;
  position: absolute;
  min-width: 240px;
  max-width: 500px;
  min-height: 300px;
  /* height: 201px; */
  top: 70px;

  right: 40px;
  display: flex;
}

.user-drop-down {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 100%;
  min-height: 210px;
  
  border-radius: 15px;
  box-shadow: 0px 2px 5px gray;
  border: 1px solid lightgray;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-dropdown {
  color: #717171;
  width: 80px;
  font-size: 26px;
  border-radius: 30px;
  border: 1px solid lightgray;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-dropdown:hover {
  box-shadow: 0px 2px 5px gray;
  cursor: pointer;
}

.header-links a,
.header-links a:active {
  color: inherit;
}

.line {
  margin-top:10px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}
.user-drop-down .user-info{
display: flex;
flex-direction: column;
word-wrap: break-word;
overflow-wrap: break-word;
}

.user-info{
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
p.user-name, p.user-email {
  overflow-wrap: break-word;
}

.user-name, .user-email {
padding-top: 10px;
}

.user-drop-down h2{
  padding-top: 5px;
  padding-bottom: 5px;

}

.user-drop-down button {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  border: none;
  background: none;
}

.user-drop-down button:hover {
  background-color: rgba(240, 223, 223, 0.2);
  box-shadow: 0px 0px 5px lightgray;
}

.log-btn, .trips-btn {
  font-family: Cereal-bd;
}

.user-name {
  font-weight: bold;
}

.fa-linkedin {
  color: #0a66c2;
}

.fa-bars {
  font-size: 16px;
}

.fa-circle-user {
  font-size: 30px;
}

.fa-linkedin:hover,
.fa-square-github:hover {
  scale: 1.1;
}
