.list-map-marker {
  cursor: pointer;
  width: auto;
  height: 26px;
  background-color: white;
  border-radius: 28px;
  padding: 0px 8px;
  box-shadow: 0px 0px 3px gray;
  font-size: 14px;
  font-family: Cereal-bd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.2s ease;
}

.list-map-marker {
  transform: translate(-50%, -50%);
}

.active-marker {
  scale: 1.2;
  z-index: 1;
  background-color: black;
  color: white;
}

.marker-info-card {
  position: absolute;
  width: 200px;
  height: 220px;
  transform: translate(calc(0% + 40px), calc(30% + 0px));
  left: 50%;
  bottom: 0px;
  display: flex;
}
.info-card-content {
  overflow: hidden;
  border-radius: 12px;
  background-color: white;
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
}
.info-card-img-container {
  width: 100%;
  height: 60%;
}

.info-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.close-info-card {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  z-index: 2;
  font-size: 16px;
  padding: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border: 1px solid;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-card-detail-container {
  font-family: Cereal-bd;
  height: 40%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: space-between;
}

.info-card-detail-container div {
  text-overflow: ellipsis;
}
