@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 0.3;
    transform: translateY(70%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(50%);
  }
  80% {
    opacity: 0.8;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
  
}

.modal-bg {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: auto;
  display: flex;
  position: fixed;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.47);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-content,
.modal-content-form {

  animation: slideup 0.3s ease-in;
  width: 543px;
  height: 596px;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-content {
  height: 500px;
}

.modal-header {
  font-family: Cereal-bd;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.modal-body {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.email-form,
.fname-form,
.lname-form,
.password-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  color: grey;
  height: 40px;
  padding: 5px 10px;
}

.fname-form {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.lname-form {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}

.email-tag,
.fname-tag,
.lname-tag,
.password-tag {
  font-size: 12px;
}

.error .email-tag,
.error .fname-tag,
.error .lname-tag,
.error .password-tag {
  font-family: Cereal-bd;
}

.email-input,
.fname-input,
.lname-input,
.password-input {
  height: 100%;
}

.email-input,
.email-input:focus-visible,
.fname-input,
.fname-input:focus-visible,
.lname-input,
.lname-input:focus-visible,
.password-input,
.password-input:focus-visible {
  font-size: 16px;
  outline: none;
  border: none;
  align-self: flex-start;
  width: 100%;
}

#continue-btn,
#demo-login-btn,
#sign-log-btn {
  font-family: Cereal-bd;
  border: none;
  font-size: 16px;
  color: white;
  height: 48px;
  border-radius: 10px;
  background-image: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  background-size: 200% 200%;
}

#close-btn,
#back-btn {
  text-align: center;
  font-size: 16px;
  width: 22px;
  height: 22px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#close-btn:hover,
#back-btn:hover {
  border-radius: 50%;
  background-color: rgba(224, 215, 215, 0.318);
  box-shadow: 0px 0px 5px lightgray;
  scale: 1.1;
}

.modal-bg button {
  cursor: pointer;
}

.error {
  color: red;
  /* border-color: red; */
  list-style: none;
  font-weight: bold;
  border: 3px solid red;
}
.lname-form.error {
  border-top: none;
}

.err-msg {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: none;
}

.first-form,
.second-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.not-you {
  color: gray;
  font-size: 14px;
}

.switch-acc {
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

.form-header {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.fa-solid.fa-circle-user.fa-2xl {
  font-size: 50px;
}

.welcome-msg {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.fa-circle-info {
  font-size: 16px;
  margin-right: 8px;
}